<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="SonataAnnotationBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
          <arguments>
            <array>
              <!-- set this option to 0 to disable the DebugClassLoader integration -->
              <!-- https://github.com/sebastianbergmann/phpunit/issues/4002 -->
              <element key="debug-class-loader"><integer>0</integer></element>
            </array>
          </arguments>
        </listener>
    </listeners>
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory>./vendor/</directory>
        </exclude>
    </coverage>
</phpunit>
